PORT=5000

# Railway Production DB Credentials
MYSQLHOST=
MYSQLPORT=
MYSQLUSER=
MYSQLPASSWORD=
MYSQLDATABASE=

GEMINI_API_KEY=

# Local XAMPP DB Credentials (Optional for local testing)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=quetta_dryfruits_db